#calendar-btn-sec {
    color: #ccc !important;
}

#calendar-btn-halfMin {
    color: #ccc !important;
}

#calendar-btn-min {
    color: #ccc;
}

#calendar-btn-fiveMin {
    color: #ccc;
}

#calendar-btn-quick {
    color: #ccc;
}

#calendar-btn-long {
    color: #ccc;
}

#calendar-btn-day {
    color: #ccc;
}

#calendar-btn-night {
    color: #ccc;
}

#calendar-events {
    color: #ccc;
}

#calendar-weather {
    color: #ccc !important;
}
